@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #228cd5;
  --color-danger: #ae2e24;
  --color-text: #172b4d;
  --color-text-alternative: #44546f;
  --color-background: #f1f2f4;
  --color-background-alternative: #d0d4db;
}
