.list-container ul {
  max-height: calc(100vh - 234px);
}

.list-container ul::-webkit-scrollbar {
  width: 6px;
}

.list-container ul::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--color-background-alternative);
}
