.board-container {
  min-height: calc(100vh - 120px);
}

.board-container::-webkit-scrollbar {
  height: 6px;
}

.board-container::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--color-background-alternative);
}
